*{
    font-size: 24px;
}

#submit{
    float: right;
}
#result-container{
    width: 400px;
}
#score{
    color: #198754;
}
#result{
}
.options{
    border: 1px solid gray;
    border-radius: 5px;
    margin: 10px;
    padding: 8px;
}
.options:hover{
    transition: 0.5s;
transform: scale(1.03);
border: 2px solid #0d6efd;
}
label:hover, input:hover{
 cursor: pointer;
}
.btn:hover{
    cursor: pointer;
    transition: 1s;
transform: scale(1.1)   
}